<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Azure OpenAI Demo</title>
    <link rel="stylesheet" href="static/css/app.css" />
  </head>
  <body>
    <div class="app">
      <div class="chat">
        <div class="content" id="content"></div>
        <form class="form" id="form">
          <div class="form-control">
            <input
              type="text"
              id="keyword"
              class="input"
              placeholder="何でも聞いてください..."
            />
          </div>
        </form>
      </div>
    </div>
    <script src="static/js/app.js"></script>
  </body>
</html>
