* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.app {
  min-width: 370px;
  padding: 0 10px;
  height: calc(100vh - 20px);
  margin: 10px auto;
}

.chat {
  height: 100%;
  width: 100%;
  border: 1px solid rgba(102, 102, 102, 0.2);
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 10px;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.form {
  height: 80px;
  padding: 10px;
}

.form-control {
  height: 100%;
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  height: 60px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 16px;
  font-size: 16px;
  outline: none;
}

.btn {
  width: 80px;
}

.card {
  height: auto;
  padding: 8px 16px;
  background: #ffffff;
  border: 1px solid #9eb2c7;
  border-radius: 10px;
  margin-bottom: 16px;
  width: fit-content;
  white-space: pre-wrap;
}

.card a {
  color: #007bc3;
  text-decoration: none;
}

.card .answer {
  color: #333;
}
.card.question {
  background-color: #007bc3;
  color: #fff;
  align-self: flex-end;
  border: none;
}
